.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .popup p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .popup button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .skills-list {
    text-align: left;
  }