.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    top:80%;
    right: 2%;
    border-radius: 10px;

  }
  
  .popup-content {
    padding: 20px;
    text-align: center;
    width: 100%;

  }
  
  .popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .popup p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .popup button {
    background-color: #323232;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .skills-list {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }