.triangle-graph {
    width: fit-content;
    /* i really cant figure out why this spans the whole screen, i want it to just be my triangle */
}

.blue-box {
    background-color: #55B4E8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
  }

  .green-box {
    background-color: #009F73;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
  }

  .navy-box {
    background-color: #0072B1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
  }


  .boxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

.home-page {
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}

.home-content {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.text-content {
    padding: 25px;
    width: 35%;
}

.text-content p {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size : 24px;
}

.text-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}
.form-box {
  display: flex;
  width : 100vw;
  height : 100vh;
  justify-content: center;
  align-items: center;


}
.sliders {
  display:flex;
  flex-direction: column;
  width : 50vw;
  max-height : 100vh;
  padding : 20px;
  gap : 20px;

}
.skillsList {
  display:flex;
  flex-direction: column;
  gap : 20px;
  width : 80%;

}
.slider {
  width: 100%;

}
.slide {
  border : 1px solid black;
  padding : 20px;
  border-radius : 5px;
}
.spiderchart{
  width: 50vw;
}

.playlist-container {
  display: none;
}

.playlist-container.visible {
  display: block;
}

/* Add other CSS styles as needed */
