.triangle-graph {
  width: fit-content;
      /* i really cant figure out why this spans the whole screen, i want it to just be my triangle */
}
.ppp {
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size : 20px;
}

.blue-box {
    background-color: #55B4E8;
  }

  .green-box {
    background-color: #009F73;
  }

  .navy-box {
    background-color: #0072B1;
  }


  .boxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

.home-page {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.text-content {
  width: 50%;
}

.image-content {
  text-align: center;
  width: fit-content;
}

.image-content p {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size : 16px;
  font-style: italic;
}

.text-content p {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
}

.text-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
}

.create-btn-div {
  display: flex;
}

.create-btn {
  border-radius : 15px;
  width : 200px;
  height : 50px;
  margin: 0px;
  padding: 0px;
}

.form-box {
  display: flex;
  width : 100vw;
  height : 100vh;
  justify-content: center;
  align-items: flex-start;
}

.sliders {
  display:flex;
  flex-direction: column;
  width : 50vw;
  max-height : 100vh;
  padding : 20px;
  gap : 20px;
  height: 100vh;
}


.skillsList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap : 20px;
  transition: height 0.3s ease;
}

.slider {
  width: 100%;

}
.slide {
  margin-top: 5px;
  padding : 20px 45px;
  border-radius : 5px;
  /* width: fit-content; */

}
.spiderchart{
  width: 50vw;
  position: sticky;
}

.playlist-container {
  display: none;
}

.playlist-container.visible {
  display: block;
}

/* Add other CSS styles as needed */
