
.box {
  color: white;
  padding: 2%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size : 20px;
} 

#blue{
    background-color: #55B4E8;
  }

  #green {
    background-color: #009F73;
  }

  #navy {
    background-color: #0072B1;
  }


.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : auto;

  

}
@media (max-width: 767px) {
  .content {
    display : flex;
    flex-direction : column;
  }
}



.create-btn-div {
  display: flex;
}

.create-btn {
  border-radius : 15px;
  width : 200px;
  height : 50px;
  margin: 0px;
  padding: 0px;
}


.content .side {
  width: 40%;
  /* margin-left : 5%; */
  height : 100vh;
  
}

.sliders {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width : 100%;
  gap : 1vh;
  min-height : 100vh;
}


.skillsList {
  display: flex;
  width : 100%;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  max-height: fit-content;
  transition: height 0.3s ease;
  
}

/* .slider {
  

} */
.slide {
  margin-top: 5%;
  padding : 2%;
  border-radius : 5%;
  width: 80%
}

.spiderchart{
  width: 50vw;
  height: 100vh;
  position: sticky;
  display : flex;
  flex-direction: column;
  justify-content : center;
  align-items : center;
  
  }
  


.playlist-container {
  display: none;
  height : 100vh;
}

.playlist-container.visible {
  display: block;
  
  
}

header {
  height: 5vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

header .signin {
  background-color: #a9a9a9; 
  border: none;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
}

/* Add other CSS styles as needed */

@media (min-width: 768px) {
  .scroll-reminder {
      display:none;
  }
}

@media (min-width: 1050px) and (min-height:650px) {
  .scroll-reminder {
      animation:scrollFadeIn 2s;
      border-left: 1px solid #009FD4;
      bottom: 0;


      display: block;
      font-family: "Good Sans";
      height: 44px;
      left: calc(16% + 3px);
      max-width: 672px;
     
      position : fixed;
      z-index: 0;
  }
      
  

  .scroll-reminder p {
      color: #767676;
      font-size: 0.55em;
      line-height: 1;
      padding-left: 1em;
      position: absolute;
      top: 0;
  }

  .scroll-reminder .scroll-reminder-tick {
      animation: scrollTick 2.5s;
      animation-iteration-count: infinite;
      background-color: #009FD4;
      display: block;
      height: 15px;
      margin-left: -2px;
      position: absolute;
      width: 3px;
  }

  @keyframes scrollTick {
      from {
          transform: translateY(0);
      }

      to {
          transform: translateY(29px);
      }
  }
}

@media (min-width: 1600px) {
  .scroll-reminder {
      left:calc(100% - 672px);
  }
}

@keyframes scrollFadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

