body{
  overflow-x: hidden;
}

/* button styling */
body button {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  border-radius: 10px;
  border: none;
  background-color: #686868;
  color:rgb(247, 247, 247)
}

.analyze-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}


.container{
  width : 100vw;
  min-height : 100vh;
  display : flex;
  justify-content : flex-start;
  align-items : flex-start;
  flex-direction : column;


}

.container h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 3vh;
  
 
}
.container h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.75vw;
  font-weight: bold;
  margin-bottom: 3vh;
}

.container h5 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
  display:inline-block;
}






::-webkit-scrollbar {
  display: none;
}


.container .content {
  display: flex;
  width : 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container .description {
  width: 50%;
  margin : 2%;
 
}
.description p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  font-size : 1.5vw;
  width : 100%;
  word-break: keep-all;
  text-align: justify;
}



.content img{
  display :flex;
  justify-content : center;
  align-items : center;
  width : 45%;
  height : auto;
  display : block;
}
@media (max-width: 767px) {
   .description {
  width: 100%;
  padding : 2%;
}

}

/*End*/

/* Playlist Styling */ 
.playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.skills-def {
  margin-left: 5px;
  width: 100%;
}

.skill {
  padding: 1% 5%;
  border-radius: 15px;
  margin-bottom: 5px;
  color: white;
  width: 40%;
  text-align: center;
  
}
.playlist h2 {
  margin-bottom : 0;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

.resource {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap : 3%;
  transition: background-color 0.2s ease;
  border-bottom: 0.5px solid rgb(224, 223, 223);
  width: 90%;
  height: 20%;
}

.resource:hover {
  background-color: rgb(247, 247, 247);
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
}
.resource-info p {
  font-size : 1vw;
}

.resource-icon {
  height : 5vh;
  width : 5vh;
  padding: 2%;
  align-self: center;
  border : 1px solid black;
  border-radius : 20%;
  text-align: center;
  
}
.resource-tags{
  display: flex;
  width : 100%;

  flex-wrap: nowrap;
  gap: 1.5%;
  font-size : 0.75vw;
  font-weight: lighter;
  font-style: italic;


  
}

.resource-tags span {
white-space: nowrap;
}

a {
  text-decoration: none;
  color: #333;
  width: 100%
}




.center-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top:-15px;
  margin-bottom: 20px;
}

.resource .bookmark {
  margin-top: -5%;
  padding-left: 5px;
}

.resource .expand-btn {
  background-color: transparent;
  border: none;

}

/* START OF SELF REFLECTION STYLING HERE */
.self-reflection{
  width : 100%;
  padding : 2%;
}
.self-reflection .self-description {
  width: 88%;
}

.self-description p {
  font-family: 'Montserrat', sans-serif;
}

.self-caption {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  font-size : 1.5vw;
  width : 100%;
  
}

/* .self-reflection .resource-links {
  display: flex;
  align-items: center;
} */
.resource-links.green {
  border-bottom: 0.5px solid rgb(16, 149, 106);
  margin : 0;
  background-color: none;
}
.resource-links.navy {
  border-bottom: 0.5px solid rgb(9, 103, 164);
  background-color: none;
}
.resource-links.blue {
  border-bottom: 0.5px solid rgb(76, 171, 226);
  background-color: none;
}


.self-reflection .smalltext{
  font-size: 1vw;
  font-style: italic;
  font-weight: 200;
  margin-left: 5%;

}
.material-symbols-outlined{
  font-size: 1.5vw;
  margin-left: 30%;
  margin-right: 5%;
  color : gray  ;
}
.links {
  display: none;
  width : 100%;
  
}
.links.show{
  display: block;
  font-size: 1.2vw;
}

.links.show p {
  font-style: italic;
}

#people-links {
  text-decoration: underline;
  text-decoration-color: rgb(76, 171, 226);
}

#process-links {
  text-decoration: underline;
  text-decoration-color: rgb(16, 149, 106);
}

#practice-links {
  text-decoration: underline;
  text-decoration-color: rgb(9, 103, 164);
}

.arrow {
  position: relative;
  flex-basis: 10%;
  width: 100px;
  height: 5px;
  /* background-color: #55B4E8; */
}
.arrow::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.arrow::before {
  top: -150%;
  left: -5%;
  /* transform: translateX(-50%); */
}
.form-box {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* 
.arrow {

} */
