main {
  width : 100vw;
  background-color: rgb(250, 250, 250);


}
.sliders {
  border: .25px solid black;
  width: fit-content;
  padding: 10px 45px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: none;
}

.skillsList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 700px;
  background-color: none;
}

::-webkit-scrollbar {
  display: none;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.playlist .playlist-header {
  font-weight: bold;  
}
.playlist-header p {
  margin: 5px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

.resources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
}
.resources .resource-name {

}
.resources .resource-skills{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: scroll;  
  padding: 0;
  justify-content: flex-start;
  font-size: small;
  font-style: italic;
}

.skills-checkbox {
  display: grid;
  /* border: 1px solid black; */
  /* align-items: center; */
  /* text-align: center; */
  /* height: 30px; */
  /* width: 100%; */
}
main {
  width : 100%;
}

.dyd {
  display : flex;
  width : 100%;
  height : 100vh;
  justify-content: center;
  align-items: center;
}

.dyd img {
  height : auto;
  width : 55%;
}
.dyd .description {
  width : 40%;
}
.description p {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-size : 20px;
}
.create {
  border-radius : 15px;
  width : 200px;
  height : 50px;

}